<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About</h2>
                <hr class="light">
                <p class="text-faded">Hey, my name is Phil, I am a problem-solving enthusiast and avid programmer. Experienced in working with many programming languages such as C++, C#, Python and Javascript. Educated on using version control systems such as GitHub and following development processes such as agile. Currently studying Computing for games (BSc) at Falmouth University.</p>
            </div>
        </div>
    </div>
</section>
