<section class="no-padding" id="projects">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Alt West</h2>
                <hr class="light">
                <p class="text-faded">Alt West is a game developed in Unreal.</p>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/z6qtdKHdhas" frameborder="0" allowfullscreen></iframe>
		
            </div>
        </div>
    </div>
</section>
