<section class="light" id="AltWest">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Alt West</h2>
                <hr class="primary">
                <p>Alt West is a game developed in Unreal Engine by a multidisciplinary team of ten people. The game is similar to Call of Duty Zombies in where you have to fight off hordes of enemies while completing objectives.
I have been placed in charge of developing the AI for the game using behaviour trees During development I have spent a considerable amount of time providing support to the other programmers and designers.</p>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/z6qtdKHdhas" frameborder="0" allowfullscreen></iframe>
				
            </div>
        </div>
    </div>
</section>
<section class="bg-dark" id="Gobfather">
	<div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">The Gobfather</h2>
                <hr class="light">
                <p class="text-faded">The Gobfather is a game developed in Unreal. it is a town down dungeon crawler game with randomly generated levels. For this project I did the majority of the programming with exception of the UI and HUD elements.  </p>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/GS5gZSEja2k" frameborder="0" allowfullscreen></iframe>
				<p class="text-faded">During the prototyping phase of this project I created a map generator and refined it so that we can develop many levels very quickly. As shown in the video below.</p>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/IO5yDGvZyVI" frameborder="0" allowfullscreen></iframe>
				<p class="text-faded">During development of this project I experimented with putting this game into VR to see how a top down twin stick shooter would feel in this environment. I was pleasantly surprised with the result and found the game to be even more enjoyable for me at least. As shown in the video below.</p>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/Uti1FPrvTQo" frameborder="0" allowfullscreen></iframe>
				<p class="text-faded">This project also underwent optimisation and Porting, a blog documenting this can be <a href="http://journal.falmouth.ac.uk/ps196806/">found here</a></p>
				
            </div>
        </div>
    </div>
</section>
<section class="light" id="Roomba">
	<div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Roomba Uprising</h2>
                <hr class="primary">
                <p>This game was created using Python and PyGame while I was still new to programming, I had a lot of fun making this one particularly developing the Roomba AI.</p>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/iOrRnT7E5Nk" frameborder="0" allowfullscreen></iframe>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/LzEj1zVSr3s" frameborder="0" allowfullscreen></iframe>
				 <p><a href="https://github.com/Phil-Sparkes/comp150-desktop-game">Code found here</a> </p>
			</div>
        </div>
    </div>
</section>
<section class="bg-dark" id="OpenGL">
	<div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Open GL</h2>
                <hr class="light">
                <p class="text-faded">For this project I made a 3d model loader and renderer in C++. I turned this into a small as shown in the video. I spent some time experimenting with shaders to see what results I could get.</p>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/fF-WzX87MZ0" frameborder="0" allowfullscreen></iframe>
				 <p><a href="https://github.com/Phil-Sparkes/bsc-live-coding/tree/2017-18/COMP220/COMP220_Examples/Final">Code found here</a> </p>
			</div>
        </div>
    </div>
</section>
<section class="light" id="NES">
	<div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Rocket League Demake</h2>
                <hr class="primary">
                <p>For this project I was tasked with creating a NES game that was a demake of a recent release. I chose to demake the well-known game Rocket League. I found programming in assembly language enjoyable as it provided me with understanding of how the code works at a much lower level.</p>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/yxhuQN_rbk8" frameborder="0" allowfullscreen></iframe>
				 <p><a href="https://github.com/Phil-Sparkes/comp310-portfolio">Code found here</a> </p>
			</div>
        </div>
    </div>
</section>
<section class="bg-dark" id="HHWR">
	<div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Hyper Heatwave Runner</h2>
                <hr class="light">
                <p class="text-faded">This game I made as part of a team during a weekend game jam, this was my first experience using C# and unity which I had to learn during the jam.</p>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/niThbEjVI9w" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
    </div>
</section>
