<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Skills</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="img/portfolio/c++.png" style="width:60px;height:60px;"">
                    <h3>C++</h3>
                    <p class="text-muted">My C++ experience involved mostly working with OpenGL. I still have a lot to learn with C++ but am eager to do so.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="img/portfolio/python.png" style="width:60px;height:60px;"">
                    <h3>Python</h3>
                    <p class="text-muted">Made a couple games using PyGame, I also created a dungeon generator and used it for creating heatmaps using NumPy.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                     <img src="img/portfolio/js.png" style="width:60px;height:60px;"">
                    <h3>JavaScript</h3>
                    <p class="text-muted">Using javascript I have made a small game “BoxBall” which can be played on this website.</p>
                </div>
            </div>
			<div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                     <img src="img/portfolio/c#.png" style="width:60px;height:60px;"">
                    <h3>C#</h3>
                    <p class="text-muted">Created a MUD (Multi-User Dungeon) and developed a game in unity during a game jam.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                     <img src="img/portfolio/unreal.png" style="width:60px;height:60px;"">
                    <h3>Unreal</h3>
                    <p class="text-muted">I have worked with Unreal for 3 years and developed multiple games working in both VR and mobile.</p>
                </div>
            </div>
			<div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                     <img src="img/portfolio/github.png" style="width:60px;height:60px;"">
                    <h3>GitHub</h3>
                    <p class="text-muted">I have used github and other source control to manage my projects throughout the three years.</p>
                </div>
            </div>
			<div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                     <img src="img/portfolio/unity.jpg" style="width:60px;height:60px;"">
                    <h3>Unity</h3>
                    <p class="text-muted">Unity I am a Unity Certified Developer and have used it during a weekend GameJam.</p>
                </div>
            </div>
			<div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                     <img src="img/portfolio/html.png" style="width:60px;height:60px;"">
                    <h3>HTML</h3>
                    <p class="text-muted">I have a good understanding with how HTML works and have created this website starting from a Jekyll theme.</p>
                </div>
            </div>
        </div>
    </div>
</section>
